.col{
    height: 100px;
    margin: 10px;
    box-shadow: 20px 20px 30px grey;

}
.home{
    margin-left: 1em;
}

.post_index{
    padding-left:8em ;
    margin-bottom: 1.5em;
    background-color:gray;
}